alembic==1.13.1
discogs_client==2.3.0
Flask==3.0.2
Flask_Cors==3.0.10
flask_marshmallow==1.1.0
Flask_Migrate==4.0.5
flask_sqlalchemy==3.1.1
marshmallow==3.20.2
PyJWT==2.3.0
PyJWT==2.8.0
Requests==2.31.0
SQLAlchemy==2.0.25
